In [ ]:
import requests
import pandas as pd
import json
# api_key = "fde7c035"
params = {'limit': 10} 
response = requests.get("http://www.omdbapi.com/?i=tt3896198&apikey=4c27a052", params=params)
response

In [ ]:
data = response.json()
data

{'Title': 'Guardians of the Galaxy Vol. 2',
 'Year': '2017',
 'Rated': 'PG-13',
 'Released': '05 May 2017',
 'Runtime': '136 min',
 'Genre': 'Action, Adventure, Comedy',
 'Director': 'James Gunn',
 'Writer': 'James Gunn, Dan Abnett, Andy Lanning',
 'Actors': 'Chris Pratt, Zoe Saldana, Dave Bautista',
 'Plot': "The Guardians struggle to keep together as a team while dealing with their personal family issues, notably Star-Lord's encounter with his father the ambitious celestial being Ego.",
 'Language': 'English',
 'Country': 'United States',
 'Awards': 'Nominated for 1 Oscar. 15 wins & 60 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.6/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '85%'},
  {'Source': 'Metacritic', 'Value': '67/100'}],
 'Metascore': '67',
 'imdbRating': '7.6',
 'imdbVotes': '695,656',
 'imdbID': 'tt3896198',
 'Type': 'movie',
 'DVD': '22 Aug 2017',
 'BoxOffice': '$389,813,101',
 'Production': 'N/A',
 'Website': 'N/A',
 'Response': 'True'}

In [ ]:
df=pd.DataFrame(data)
df

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldana, Dave Bautista",The Guardians struggle to keep together as a t...,...,67,7.6,"695,656",tt3896198,movie,22 Aug 2017,"$389,813,101",N/A,N/A,True
1,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldana, Dave Bautista",The Guardians struggle to keep together as a t...,...,67,7.6,"695,656",tt3896198,movie,22 Aug 2017,"$389,813,101",N/A,N/A,True
2,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldana, Dave Bautista",The Guardians struggle to keep together as a t...,...,67,7.6,"695,656",tt3896198,movie,22 Aug 2017,"$389,813,101",N/A,N/A,True

In [ ]:
df0=df[['Title','Year','Rated','Director']]
df0

                            Title  Year  Rated    Director
0  Guardians of the Galaxy Vol. 2  2017  PG-13  James Gunn
1  Guardians of the Galaxy Vol. 2  2017  PG-13  James Gunn
2  Guardians of the Galaxy Vol. 2  2017  PG-13  James Gunn

In [ ]:
df01=df0.drop_duplicates(subset=['Title','Year','Rated','Director'])
df01

                            Title  Year  Rated    Director
0  Guardians of the Galaxy Vol. 2  2017  PG-13  James Gunn